<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="./css/style.css">
    
</head>
<body>
    {{>navbar}}

    <section class="home">
        <div class="sec">
            <div class="deg">

                <div class="bigdeg">
                    <h1>34 </h1><sup>0</sup>
                </div>
                <span>30 <sup>0</sup></span>
                <span>/20 <sup>0</sup> </span>
            </div>


            <div class="image">
                <h1 class="cityname"> <sup> <img class="location" src="/images/gps.png" alt=""></sup> Banglore</h1>
                <img class="mobile" src="/images/banne-img-right.png" alt="">

            </div>
        </div>
    </section>

    <section class="assist">
        <div class="assist_weather">
            <h1>Weather Assistant</h1>
            <h1>In Your Phone</h1>
    <p>Find Out Rain and floods beckon as La <br> Nina looms and IOD deepens.</p>
    <br>
    <a href="./weather"> Weather check</a>
        </div>
        <div>
            <img src="/images/apps-2.png" alt="">
        </div>
        <div>
            <img id="body2" height="600" src="/images/apps.png" alt="">
        </div>
    </section>
    

    {{>footer}}
    
</body>
</html>