<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>navbar}}
    <section class="weather">
        <div class="searchInput">
            <input type="text" id="search" placeholder="enter city name">
            <input type="submit" id="btn" value="search">
        </div>
        <div class="cityLocation">
            <img class="location" width="30" src="/images/gps.png" alt="">
            <p id="cityname">Banglour</p>
        </div>
        <div class="weatherInfo">
            <div class="card" id="temperature">
                <img width="150" src="/images/sunrise_sun_sunny_shower_showers_sunny_cloudy_fog_day_time_1458.png" alt="">
                <p>Temperature</p>
                <span id="temperature_value">0</span><span><sup>o</sup>C</span>
                
            </div>
            <div class="card" id="humidity">
                <img width="150" src="/images/humidity.png" alt="">
                <h3>Humidity</h3>
                <span id="humidity_value">30</span><span>%</span>
            </div>
            <div class="card" id="wind">
                <img width="150" src="/images/wind1.png" alt="">
                <h3>Wind</h3>
                <span id="wind_value">7</span><span>km/h</span>
            </div>
        </div>

    </section>

    {{>footer}}
    <script src="/js/weather.js"></script>
    
</body>
</html>